<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095066264952-uhl8n48ulah4sspr630cpt4vag789iio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095066264952-uhl8n48ulah4sspr630cpt4vag789iio</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095066264952-g6p1pjc1p7j5regrsrnp2htflbb9tp8e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArJ44CZiXjplkb30LgNHbi-KGBlBQ7mf4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095066264952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitledApp</string>
	<key>PROJECT_ID</key>
	<string>cross-media-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cross-media-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095066264952:ios:e0e0af39d1d6b7be2b948d</string>
</dict>
</plist>